/*********************************************



**********************************************/

/* Just some general syling of the page for aesthetics */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

html,
body {
  height: 150%;
  overflow: hidden;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #212529;
  /* background-color: black; */
  background-image: linear-gradient(white, black);
  /* box-shadow: inset 0 0 2rem rgba(0, 0, 0, .5); */
}

.actions {
  z-index: 1;
  vertical-align: middle;
  position: absolute;
  text-align: center;
  margin-top: 50vh;
  width: 100%;
  height: 60%;
  border: 0;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  color: white;
}

#dataDiv {
  display: none;
  position: absolute;
  height: 100%;
  margin-top: -25%;
}

#instru-start {
  margin-top: -15%;
}

#instructionsDiv {
  display: none;
  height: 30%;
}

input {
  text-align: center;
  border: 0;
  background-color: black;
  opacity: 0.5;
  font-family: 'Playfair Display', serif;
  font-size: 30pt;
}

#sun {
  position: fixed;

}

#background {
  position: fixed;
  z-index: -1;
}
